html,body {
	height:100%;
	}
	body {
	margin:0; padding:0;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', 'Ubuntu', 'Droid Sans', sans-serif;
		font-size: 14px;
		line-height: 1.6;
	}
	.ztree-div-left {
		position: fixed;
		display:inline-block;
		border-right: 1px dotted;
		width: 230px !important;
		height:98%;
		left:0;
		top:0;
		overflow:auto;
	}
	.ztree-div-right {
		margin-left: 230px;
		overflow:auto;
	}